language: julia
os:
  - linux
  - osx
julia:
  - 0.4.6
install:
  julia ./dependencies.jl
notifications:
  email: false
script:
  julia --check-bounds=yes --code-coverage ./test/runtests.jl
after_success:
- julia -e 'Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
